<h1>Az alkalmazásról</h1>
<br><br>
<blockquote>
    Contact list - Névjegyzék alkalmazás, mely el tudja tárolni egy személy nevét, telefonszámát, e-mail címét és születési idejét.
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Az alkalmazás használatához regisztráció szükséges (felhasználónév - jelszó). Ezután a listázás menüpont alatt láthatjuk az eddig
        felvett névjegyeket, a hozzáadás menüpontban pedig újakat adhatunk hozzá a már meglévőkhöz. Törlésre is van lehetőség
        a listázás oldalon.</p>
    </div>
</div>