<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Contact list</title>
		<link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	</head>
	<body>
		{{>menu}}
		<div class="container">
			{{>messages}}
			{{{body}}}
		</div>
	</body>
</html>